
requests
transformers>=4.41,<5
datasets==2.*
accelerate==0.30.*
scikit-learn
onnx
onnxruntime>=1.17,<2
optimum[onnxruntime]
sentence-transformers==3.*
fastapi==0.110.*
uvicorn[standard]==0.30.*
pydantic==2.*
python-dotenv
Sastrawi
clean-text[gpl]
# faiss-cpu==1.8.0.post1   # <- coba ini; kalau gagal, kita pakai fallback KNN
